.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 43px;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  transition-property: all;
  transition-duration: 0.2s;
  min-width: 0;
  border-radius: 8px;
  padding: 8px 0px;
  border-width: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.root:hover {
  background: var(--token-OJ-uPx1nr);
}
.dot:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.dotcolor__1:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__2:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__3:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__4:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__5:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__6:global(.__wab_instance) {
  flex-shrink: 0;
}
.dotcolor__7:global(.__wab_instance) {
  flex-shrink: 0;
}
.name {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetName {
  font-size: 18px;
  color: var(--token-rBjq1hUEq);
}
