.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  border-radius: 18px;
  padding: 10px;
  border-width: 0px;
}
.root:hover {
  background: var(--token-OJ-uPx1nr);
}
.sectionToggle {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-390KIGu4P);
  transition-property: transform;
  transition-duration: 1s;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.sectionToggleisClose {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
