.root {
  object-fit: cover;
  width: 64px;
  height: 64px;
  color: var(--token-sFgQ8U32E);
  position: relative;
}
.rootcolor__2 {
  color: var(--token-T3GnRo1BU);
}
.rootcolor__3 {
  color: var(--token-pXO2MC-WG);
}
.rootcolor__4 {
  color: var(--token-FNB0zy7cz);
}
.rootcolor__5 {
  color: var(--token-wUK8n7raL);
}
.rootcolor__6 {
  color: var(--token-g4Ej4wu_s);
}
.rootcolor__7 {
  color: var(--token-Rz9qV9Zi2);
}
