.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  min-width: 0;
  padding: 0px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-left: 6px solid var(--token-XtQCtoY3H);
}
.sectioncolor__2 {
  border-left-color: var(--token-tvPf78A1o);
}
.sectioncolor__3 {
  border-left-color: var(--token-9Ln8EiLXO);
}
.sectioncolor__4 {
  border-left-color: var(--token-FSPpBff3B);
}
.sectioncolor__5 {
  border-left-color: var(--token-soBKF9_0w);
}
.sectioncolor__6 {
  border-left-color: var(--token-BZjrPZlQN);
}
.sectioncolor__7 {
  border-left-color: var(--token-q-bRXcYK6);
}
.freeBox {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  max-width: 100%;
  border-left-style: solid;
  border-left-color: var(--token-390KIGu4P);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-7ZpyL6PxU);
}
.name {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-left: 6px;
  transition-property: all;
  transition-duration: 1s;
  display: flex;
  flex-direction: row;
  min-width: 0;
  padding: 6px 0px;
}
.slotTargetName {
  font-size: 20px;
  color: var(--token-rBjq1hUEq);
}
.toggle:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.childSection {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.2s;
  overflow: hidden;
  max-height: 100vh;
  transition-delay: 0.1s;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.childSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.childSection > :global(.__wab_flex-container) > *,
.childSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.childSection > :global(.__wab_flex-container) > picture > img,
.childSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.childSectionisClose {
  height: auto;
  max-height: 0vh;
}
