.root {
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 36px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 2px;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 32px;
  height: 32px;
  color: var(--token-sFgQ8U32E);
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.slotTargetBundleTitle {
  font-size: 14px;
  color: var(--token-rBjq1hUEq);
  line-height: 1.3;
  white-space: pre;
  user-select: none;
}
.slotTargetBundleTitle > .__wab_text,
.slotTargetBundleTitle > .__wab_slot-string-wrapper,
.slotTargetBundleTitle > .__wab_slot > .__wab_text,
.slotTargetBundleTitle > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetBundleTitle > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetBundleTitle > .__wab_slot > .__wab_slot > .__wab_slot-string-wrapper,
.slotTargetBundleTitle > .__wab_slot > .__wab_slot > .__wab_slot > .__wab_text,
.slotTargetBundleTitle
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot-string-wrapper {
  text-overflow: ellipsis;
}
