.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.freeBox__v9Out {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  border-left: 6px solid var(--token-XtQCtoY3H);
}
.freeBoxcolor__2__v9OutVps5I {
  border-left-color: var(--token-tvPf78A1o);
}
.freeBoxcolor__3__v9OutnRxbF {
  border-left-color: var(--token-9Ln8EiLXO);
}
.freeBoxcolor__4__v9Out7YaJ {
  border-left-color: var(--token-FSPpBff3B);
}
.freeBoxcolor__5__v9OuttNbLi {
  border-left-color: var(--token-soBKF9_0w);
}
.freeBoxcolor__6__v9OuTk8PHy {
  border-left-color: var(--token-BZjrPZlQN);
}
.freeBoxcolor__7__v9OutPls6A {
  border-left-color: var(--token-q-bRXcYK6);
}
.freeBox__jhOvc {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: 43px;
  max-width: 100%;
  border-left-style: solid;
  border-left-color: var(--token-390KIGu4P);
  cursor: pointer;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid var(--token-7ZpyL6PxU);
}
.name {
  position: relative;
  width: 100%;
  max-width: 800px;
  color: var(--token-rBjq1hUEq);
  font-size: 20px;
  margin-left: 6px;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  padding: 6px 0px;
}
.sectionToggle {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  color: var(--token-390KIGu4P);
  transition-property: transform;
  transition-duration: 1s;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.sectionToggleisClose {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
}
.childSection {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  overflow: hidden;
  max-height: 100vh;
  min-width: 0;
  padding: 0px 0px 0px 16px;
}
.childSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.childSection > :global(.__wab_flex-container) > *,
.childSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.childSection > :global(.__wab_flex-container) > picture > img,
.childSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.childSectionisClose {
  height: auto;
  transform: none;
  max-height: 0vh;
}
