@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-rBjq1hUEq: #616161;
  --plasmic-token-61: var(--token-rBjq1hUEq);
  --token-7ZpyL6PxU: #d3d3d3;
  --plasmic-token-d-3: var(--token-7ZpyL6PxU);
  --token-390KIGu4P: #939393;
  --plasmic-token-93: var(--token-390KIGu4P);
  --token-d6__AIq36: #0000001a;
  --plasmic-token-b-10: var(--token-d6__AIq36);
  --token-d6__AIq36: #0000001a;
  --plasmic-token-b-10: var(--token-d6__AIq36);
  --token-ciK1HCzcW: #ffffff;
  --plasmic-token-pc-1: var(--token-ciK1HCzcW);
  --token-ciK1HCzcW: #ffffff;
  --plasmic-token-pc-1: var(--token-ciK1HCzcW);
  --token-XtQCtoY3H: #6dddfd;
  --plasmic-token-dot-1: var(--token-XtQCtoY3H);
  --token-sFgQ8U32E: #0d89b833;
  --plasmic-token-book-1: var(--token-sFgQ8U32E);
}

.plasmic_default_styles {
  --mixin-1eXGam4NT8Rf_font-family: "Inter";
  --mixin-1eXGam4NT8Rf_font-size: 16px;
  --mixin-1eXGam4NT8Rf_font-weight: 400;
  --mixin-1eXGam4NT8Rf_font-style: normal;
  --mixin-1eXGam4NT8Rf_color: #535353;
  --mixin-1eXGam4NT8Rf_text-align: left;
  --mixin-1eXGam4NT8Rf_text-transform: none;
  --mixin-1eXGam4NT8Rf_line-height: 1.5;
  --mixin-1eXGam4NT8Rf_letter-spacing: normal;
  --mixin-1eXGam4NT8Rf_white-space: pre-wrap;
  --mixin-1eXGam4NT8Rf_user-select: text;
  --mixin-1eXGam4NT8Rf_text-decoration-line: none;
  --mixin-1eXGam4NT8Rf_text-overflow: clip;
  --mixin-91ijYm5oCzqq_color: #000000;
  --mixin-91ijYm5oCzqq_font-weight: 900;
  --mixin-91ijYm5oCzqq_font-size: 72px;
  --mixin-91ijYm5oCzqq_line-height: 1;
  --mixin-91ijYm5oCzqq_letter-spacing: -4px;
  --mixin-d4_J36xTnXQK_font-family: "Inter";
  --mixin-d4_J36xTnXQK_color: #000000;
  --mixin-d4_J36xTnXQK_font-size: 48px;
  --mixin-d4_J36xTnXQK_font-weight: 700;
  --mixin-d4_J36xTnXQK_letter-spacing: -1px;
  --mixin-d4_J36xTnXQK_line-height: 1.1;
  --mixin-8ttlyrvlUSa6_color: #0070f3;
  --mixin-hmbYZ1hR6oFX_font-family: "Inter";
  --mixin-hmbYZ1hR6oFX_color: #000000;
  --mixin-hmbYZ1hR6oFX_font-size: 32px;
  --mixin-hmbYZ1hR6oFX_font-weight: 600;
  --mixin-hmbYZ1hR6oFX_letter-spacing: -0.8px;
  --mixin-hmbYZ1hR6oFX_line-height: 1.2;
  --mixin-NPA3-D9tnofD_font-family: "Inter";
  --mixin-NPA3-D9tnofD_color: #000000;
  --mixin-NPA3-D9tnofD_font-size: 24px;
  --mixin-NPA3-D9tnofD_font-weight: 600;
  --mixin-NPA3-D9tnofD_letter-spacing: -0.5px;
  --mixin-NPA3-D9tnofD_line-height: 1.3;
  --mixin-Bj1A67sgBC2__background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bj1A67sgBC2__border-bottom-color: #dddddd;
  --mixin-Bj1A67sgBC2__border-bottom-style: solid;
  --mixin-Bj1A67sgBC2__border-bottom-width: 1px;
  --mixin-Bj1A67sgBC2__border-left-color: #dddddd;
  --mixin-Bj1A67sgBC2__border-left-style: solid;
  --mixin-Bj1A67sgBC2__border-left-width: 1px;
  --mixin-Bj1A67sgBC2__border-right-color: #dddddd;
  --mixin-Bj1A67sgBC2__border-right-style: solid;
  --mixin-Bj1A67sgBC2__border-right-width: 1px;
  --mixin-Bj1A67sgBC2__border-top-color: #dddddd;
  --mixin-Bj1A67sgBC2__border-top-style: solid;
  --mixin-Bj1A67sgBC2__border-top-width: 1px;
  --mixin-Bj1A67sgBC2__border-bottom-left-radius: 3px;
  --mixin-Bj1A67sgBC2__border-bottom-right-radius: 3px;
  --mixin-Bj1A67sgBC2__border-top-left-radius: 3px;
  --mixin-Bj1A67sgBC2__border-top-right-radius: 3px;
  --mixin-Bj1A67sgBC2__font-family: "Inconsolata";
  --mixin-Bj1A67sgBC2__padding-bottom: 1px;
  --mixin-Bj1A67sgBC2__padding-left: 4px;
  --mixin-Bj1A67sgBC2__padding-right: 4px;
  --mixin-Bj1A67sgBC2__padding-top: 1px;
  --mixin-DatPCtYyDri2_border-left-color: #dddddd;
  --mixin-DatPCtYyDri2_border-left-style: solid;
  --mixin-DatPCtYyDri2_border-left-width: 3px;
  --mixin-DatPCtYyDri2_color: #888888;
  --mixin-DatPCtYyDri2_padding-left: 10px;
  --mixin-yaAMifmuxxfE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-yaAMifmuxxfE_border-bottom-color: #dddddd;
  --mixin-yaAMifmuxxfE_border-bottom-style: solid;
  --mixin-yaAMifmuxxfE_border-bottom-width: 1px;
  --mixin-yaAMifmuxxfE_border-left-color: #dddddd;
  --mixin-yaAMifmuxxfE_border-left-style: solid;
  --mixin-yaAMifmuxxfE_border-left-width: 1px;
  --mixin-yaAMifmuxxfE_border-right-color: #dddddd;
  --mixin-yaAMifmuxxfE_border-right-style: solid;
  --mixin-yaAMifmuxxfE_border-right-width: 1px;
  --mixin-yaAMifmuxxfE_border-top-color: #dddddd;
  --mixin-yaAMifmuxxfE_border-top-style: solid;
  --mixin-yaAMifmuxxfE_border-top-width: 1px;
  --mixin-yaAMifmuxxfE_border-bottom-left-radius: 3px;
  --mixin-yaAMifmuxxfE_border-bottom-right-radius: 3px;
  --mixin-yaAMifmuxxfE_border-top-left-radius: 3px;
  --mixin-yaAMifmuxxfE_border-top-right-radius: 3px;
  --mixin-yaAMifmuxxfE_font-family: "Inconsolata";
  --mixin-yaAMifmuxxfE_padding-bottom: 3px;
  --mixin-yaAMifmuxxfE_padding-left: 6px;
  --mixin-yaAMifmuxxfE_padding-right: 6px;
  --mixin-yaAMifmuxxfE_padding-top: 3px;
  --mixin-UYsY0C-kbkFx_display: flex;
  --mixin-UYsY0C-kbkFx_flex-direction: column;
  --mixin-UYsY0C-kbkFx_align-items: stretch;
  --mixin-UYsY0C-kbkFx_justify-content: flex-start;
  --mixin-UYsY0C-kbkFx_list-style-position: outside;
  --mixin-UYsY0C-kbkFx_padding-left: 40px;
  --mixin-UYsY0C-kbkFx_position: relative;
  --mixin-UYsY0C-kbkFx_list-style-type: disc;
  --mixin-aQ3EAWIKTH9D_display: flex;
  --mixin-aQ3EAWIKTH9D_flex-direction: column;
  --mixin-aQ3EAWIKTH9D_align-items: stretch;
  --mixin-aQ3EAWIKTH9D_justify-content: flex-start;
  --mixin-aQ3EAWIKTH9D_list-style-position: outside;
  --mixin-aQ3EAWIKTH9D_padding-left: 40px;
  --mixin-aQ3EAWIKTH9D_position: relative;
  --mixin-aQ3EAWIKTH9D_list-style-type: decimal;
  --mixin-FcPHvHvKYBcRl_font-family: "Inter";
  --mixin-FcPHvHvKYBcRl_color: #000000;
  --mixin-FcPHvHvKYBcRl_font-size: 20px;
  --mixin-FcPHvHvKYBcRl_font-weight: 600;
  --mixin-FcPHvHvKYBcRl_letter-spacing: -0.3px;
  --mixin-FcPHvHvKYBcRl_line-height: 1.5;
  --mixin-5nS_W9y7_HLXO_font-family: "Inter";
  --mixin-5nS_W9y7_HLXO_color: #000000;
  --mixin-5nS_W9y7_HLXO_font-size: 16px;
  --mixin-5nS_W9y7_HLXO_font-weight: 600;
  --mixin-5nS_W9y7_HLXO_line-height: 1.5;
  --mixin-xNE70JjG8-Xr3_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-1eXGam4NT8Rf_font-family);
  font-size: var(--mixin-1eXGam4NT8Rf_font-size);
  font-weight: var(--mixin-1eXGam4NT8Rf_font-weight);
  font-style: var(--mixin-1eXGam4NT8Rf_font-style);
  color: var(--mixin-1eXGam4NT8Rf_color);
  text-align: var(--mixin-1eXGam4NT8Rf_text-align);
  text-transform: var(--mixin-1eXGam4NT8Rf_text-transform);
  line-height: var(--mixin-1eXGam4NT8Rf_line-height);
  letter-spacing: var(--mixin-1eXGam4NT8Rf_letter-spacing);
  white-space: var(--mixin-1eXGam4NT8Rf_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-91ijYm5oCzqq_color);
  font-weight: var(--mixin-91ijYm5oCzqq_font-weight);
  font-size: var(--mixin-91ijYm5oCzqq_font-size);
  line-height: var(--mixin-91ijYm5oCzqq_line-height);
  letter-spacing: var(--mixin-91ijYm5oCzqq_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-d4_J36xTnXQK_font-family);
  color: var(--mixin-d4_J36xTnXQK_color);
  font-size: var(--mixin-d4_J36xTnXQK_font-size);
  font-weight: var(--mixin-d4_J36xTnXQK_font-weight);
  letter-spacing: var(--mixin-d4_J36xTnXQK_letter-spacing);
  line-height: var(--mixin-d4_J36xTnXQK_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-8ttlyrvlUSa6_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-hmbYZ1hR6oFX_font-family);
  color: var(--mixin-hmbYZ1hR6oFX_color);
  font-size: var(--mixin-hmbYZ1hR6oFX_font-size);
  font-weight: var(--mixin-hmbYZ1hR6oFX_font-weight);
  letter-spacing: var(--mixin-hmbYZ1hR6oFX_letter-spacing);
  line-height: var(--mixin-hmbYZ1hR6oFX_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-NPA3-D9tnofD_font-family);
  color: var(--mixin-NPA3-D9tnofD_color);
  font-size: var(--mixin-NPA3-D9tnofD_font-size);
  font-weight: var(--mixin-NPA3-D9tnofD_font-weight);
  letter-spacing: var(--mixin-NPA3-D9tnofD_letter-spacing);
  line-height: var(--mixin-NPA3-D9tnofD_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-Bj1A67sgBC2__background);
  font-family: var(--mixin-Bj1A67sgBC2__font-family);
  border-radius: var(--mixin-Bj1A67sgBC2__border-top-left-radius)
    var(--mixin-Bj1A67sgBC2__border-top-right-radius)
    var(--mixin-Bj1A67sgBC2__border-bottom-right-radius)
    var(--mixin-Bj1A67sgBC2__border-bottom-left-radius);
  padding: var(--mixin-Bj1A67sgBC2__padding-top)
    var(--mixin-Bj1A67sgBC2__padding-right)
    var(--mixin-Bj1A67sgBC2__padding-bottom)
    var(--mixin-Bj1A67sgBC2__padding-left);
  border-top: var(--mixin-Bj1A67sgBC2__border-top-width)
    var(--mixin-Bj1A67sgBC2__border-top-style)
    var(--mixin-Bj1A67sgBC2__border-top-color);
  border-right: var(--mixin-Bj1A67sgBC2__border-right-width)
    var(--mixin-Bj1A67sgBC2__border-right-style)
    var(--mixin-Bj1A67sgBC2__border-right-color);
  border-bottom: var(--mixin-Bj1A67sgBC2__border-bottom-width)
    var(--mixin-Bj1A67sgBC2__border-bottom-style)
    var(--mixin-Bj1A67sgBC2__border-bottom-color);
  border-left: var(--mixin-Bj1A67sgBC2__border-left-width)
    var(--mixin-Bj1A67sgBC2__border-left-style)
    var(--mixin-Bj1A67sgBC2__border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-DatPCtYyDri2_color);
  padding-left: var(--mixin-DatPCtYyDri2_padding-left);
  border-left: var(--mixin-DatPCtYyDri2_border-left-width)
    var(--mixin-DatPCtYyDri2_border-left-style)
    var(--mixin-DatPCtYyDri2_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-yaAMifmuxxfE_background);
  font-family: var(--mixin-yaAMifmuxxfE_font-family);
  border-radius: var(--mixin-yaAMifmuxxfE_border-top-left-radius)
    var(--mixin-yaAMifmuxxfE_border-top-right-radius)
    var(--mixin-yaAMifmuxxfE_border-bottom-right-radius)
    var(--mixin-yaAMifmuxxfE_border-bottom-left-radius);
  padding: var(--mixin-yaAMifmuxxfE_padding-top)
    var(--mixin-yaAMifmuxxfE_padding-right)
    var(--mixin-yaAMifmuxxfE_padding-bottom)
    var(--mixin-yaAMifmuxxfE_padding-left);
  border-top: var(--mixin-yaAMifmuxxfE_border-top-width)
    var(--mixin-yaAMifmuxxfE_border-top-style)
    var(--mixin-yaAMifmuxxfE_border-top-color);
  border-right: var(--mixin-yaAMifmuxxfE_border-right-width)
    var(--mixin-yaAMifmuxxfE_border-right-style)
    var(--mixin-yaAMifmuxxfE_border-right-color);
  border-bottom: var(--mixin-yaAMifmuxxfE_border-bottom-width)
    var(--mixin-yaAMifmuxxfE_border-bottom-style)
    var(--mixin-yaAMifmuxxfE_border-bottom-color);
  border-left: var(--mixin-yaAMifmuxxfE_border-left-width)
    var(--mixin-yaAMifmuxxfE_border-left-style)
    var(--mixin-yaAMifmuxxfE_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-UYsY0C-kbkFx_display);
  flex-direction: var(--mixin-UYsY0C-kbkFx_flex-direction);
  align-items: var(--mixin-UYsY0C-kbkFx_align-items);
  justify-content: var(--mixin-UYsY0C-kbkFx_justify-content);
  list-style-position: var(--mixin-UYsY0C-kbkFx_list-style-position);
  padding-left: var(--mixin-UYsY0C-kbkFx_padding-left);
  position: var(--mixin-UYsY0C-kbkFx_position);
  list-style-type: var(--mixin-UYsY0C-kbkFx_list-style-type);
  flex-column-gap: var(--mixin-UYsY0C-kbkFx_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-aQ3EAWIKTH9D_display);
  flex-direction: var(--mixin-aQ3EAWIKTH9D_flex-direction);
  align-items: var(--mixin-aQ3EAWIKTH9D_align-items);
  justify-content: var(--mixin-aQ3EAWIKTH9D_justify-content);
  list-style-position: var(--mixin-aQ3EAWIKTH9D_list-style-position);
  padding-left: var(--mixin-aQ3EAWIKTH9D_padding-left);
  position: var(--mixin-aQ3EAWIKTH9D_position);
  list-style-type: var(--mixin-aQ3EAWIKTH9D_list-style-type);
  flex-column-gap: var(--mixin-aQ3EAWIKTH9D_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-FcPHvHvKYBcRl_font-family);
  color: var(--mixin-FcPHvHvKYBcRl_color);
  font-size: var(--mixin-FcPHvHvKYBcRl_font-size);
  font-weight: var(--mixin-FcPHvHvKYBcRl_font-weight);
  letter-spacing: var(--mixin-FcPHvHvKYBcRl_letter-spacing);
  line-height: var(--mixin-FcPHvHvKYBcRl_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-5nS_W9y7_HLXO_font-family);
  color: var(--mixin-5nS_W9y7_HLXO_color);
  font-size: var(--mixin-5nS_W9y7_HLXO_font-size);
  font-weight: var(--mixin-5nS_W9y7_HLXO_font-weight);
  line-height: var(--mixin-5nS_W9y7_HLXO_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-xNE70JjG8-Xr3_color);
}
